useDynLib(pbdDEMO)

import(methods, rlecuyer, pbdMPI, pbdSLAP, Rcpp, pbdBASE, pbdDMAT, sqldf)

exportPattern("^demo\\.[[:alpha:]]+")
exportPattern("^mpi\\.[[:alpha:]]+")
export(
  balance.info,
  load.balance,
  unload.balance,
  spmd2dmat,
  dmat2spmd,
  ###
  read.csv.ddmatrix, read.sql.ddmatrix,
  Hconst, Hunif, Hnorm,
  Hconst.local, Hunif.local, Hnorm.local
)
